HolidayReservationSystem/xml-resources/web-service-references/CaRMSWebService/wsdl/localhost_8080/CaRMSWebService/CaRMSWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="CaRMSWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/CaRMSWebService/CaRMSWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="InvalidLoginCredentialsException">
<part name="fault" element="tns:InvalidLoginCredentialsException"/>
</message>
<message name="retrieveCarModelsByCategory">
<part name="parameters" element="tns:retrieveCarModelsByCategory"/>
</message>
<message name="retrieveCarModelsByCategoryResponse">
<part name="parameters" element="tns:retrieveCarModelsByCategoryResponse"/>
</message>
<message name="retrieveAllPartnerReservations">
<part name="parameters" element="tns:retrieveAllPartnerReservations"/>
</message>
<message name="retrieveAllPartnerReservationsResponse">
<part name="parameters" element="tns:retrieveAllPartnerReservationsResponse"/>
</message>
<message name="PartnerNotFoundException">
<part name="fault" element="tns:PartnerNotFoundException"/>
</message>
<message name="retrieveAllCarCategories">
<part name="parameters" element="tns:retrieveAllCarCategories"/>
</message>
<message name="retrieveAllCarCategoriesResponse">
<part name="parameters" element="tns:retrieveAllCarCategoriesResponse"/>
</message>
<message name="retrieveAllOutlets">
<part name="parameters" element="tns:retrieveAllOutlets"/>
</message>
<message name="retrieveAllOutletsResponse">
<part name="parameters" element="tns:retrieveAllOutletsResponse"/>
</message>
<message name="cancelReservation">
<part name="parameters" element="tns:cancelReservation"/>
</message>
<message name="cancelReservationResponse">
<part name="parameters" element="tns:cancelReservationResponse"/>
</message>
<message name="CancellationErrorException">
<part name="fault" element="tns:CancellationErrorException"/>
</message>
<message name="confirmReservation">
<part name="parameters" element="tns:confirmReservation"/>
</message>
<message name="confirmReservationResponse">
<part name="parameters" element="tns:confirmReservationResponse"/>
</message>
<message name="UnknownPersistenceException">
<part name="fault" element="tns:UnknownPersistenceException"/>
</message>
<message name="searchByCarCategory">
<part name="parameters" element="tns:searchByCarCategory"/>
</message>
<message name="searchByCarCategoryResponse">
<part name="parameters" element="tns:searchByCarCategoryResponse"/>
</message>
<message name="CarCategoryNotFoundException">
<part name="fault" element="tns:CarCategoryNotFoundException"/>
</message>
<message name="OutletNotFoundException">
<part name="fault" element="tns:OutletNotFoundException"/>
</message>
<message name="NoRateFoundException">
<part name="fault" element="tns:NoRateFoundException"/>
</message>
<message name="InsufficientInventoryException">
<part name="fault" element="tns:InsufficientInventoryException"/>
</message>
<message name="OutletClosedException">
<part name="fault" element="tns:OutletClosedException"/>
</message>
<message name="searchByCarModel">
<part name="parameters" element="tns:searchByCarModel"/>
</message>
<message name="searchByCarModelResponse">
<part name="parameters" element="tns:searchByCarModelResponse"/>
</message>
<message name="CarModelNotFoundException">
<part name="fault" element="tns:CarModelNotFoundException"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="viewReservationDetails">
<part name="parameters" element="tns:viewReservationDetails"/>
</message>
<message name="viewReservationDetailsResponse">
<part name="parameters" element="tns:viewReservationDetailsResponse"/>
</message>
<message name="RentalRecordNotFoundException">
<part name="fault" element="tns:RentalRecordNotFoundException"/>
</message>
<portType name="CaRMSWebService">
<operation name="login">
<input wsam:Action="http://ws.session.ejb/CaRMSWebService/loginRequest" message="tns:login"/>
<output wsam:Action="http://ws.session.ejb/CaRMSWebService/loginResponse" message="tns:loginResponse"/>
<fault message="tns:InvalidLoginCredentialsException" name="InvalidLoginCredentialsException" wsam:Action="http://ws.session.ejb/CaRMSWebService/login/Fault/InvalidLoginCredentialsException"/>
</operation>
<operation name="retrieveCarModelsByCategory">
<input wsam:Action="http://ws.session.ejb/CaRMSWebService/retrieveCarModelsByCategoryRequest" message="tns:retrieveCarModelsByCategory"/>
<output wsam:Action="http://ws.session.ejb/CaRMSWebService/retrieveCarModelsByCategoryResponse" message="tns:retrieveCarModelsByCategoryResponse"/>
</operation>
<operation name="retrieveAllPartnerReservations">
<input wsam:Action="http://ws.session.ejb/CaRMSWebService/retrieveAllPartnerReservationsRequest" message="tns:retrieveAllPartnerReservations"/>
<output wsam:Action="http://ws.session.ejb/CaRMSWebService/retrieveAllPartnerReservationsResponse" message="tns:retrieveAllPartnerReservationsResponse"/>
<fault message="tns:PartnerNotFoundException" name="PartnerNotFoundException" wsam:Action="http://ws.session.ejb/CaRMSWebService/retrieveAllPartnerReservations/Fault/PartnerNotFoundException"/>
</operation>
<operation name="retrieveAllCarCategories">
<input wsam:Action="http://ws.session.ejb/CaRMSWebService/retrieveAllCarCategoriesRequest" message="tns:retrieveAllCarCategories"/>
<output wsam:Action="http://ws.session.ejb/CaRMSWebService/retrieveAllCarCategoriesResponse" message="tns:retrieveAllCarCategoriesResponse"/>
</operation>
<operation name="retrieveAllOutlets">
<input wsam:Action="http://ws.session.ejb/CaRMSWebService/retrieveAllOutletsRequest" message="tns:retrieveAllOutlets"/>
<output wsam:Action="http://ws.session.ejb/CaRMSWebService/retrieveAllOutletsResponse" message="tns:retrieveAllOutletsResponse"/>
</operation>
<operation name="cancelReservation">
<input wsam:Action="http://ws.session.ejb/CaRMSWebService/cancelReservationRequest" message="tns:cancelReservation"/>
<output wsam:Action="http://ws.session.ejb/CaRMSWebService/cancelReservationResponse" message="tns:cancelReservationResponse"/>
<fault message="tns:CancellationErrorException" name="CancellationErrorException" wsam:Action="http://ws.session.ejb/CaRMSWebService/cancelReservation/Fault/CancellationErrorException"/>
</operation>
<operation name="confirmReservation">
<input wsam:Action="http://ws.session.ejb/CaRMSWebService/confirmReservationRequest" message="tns:confirmReservation"/>
<output wsam:Action="http://ws.session.ejb/CaRMSWebService/confirmReservationResponse" message="tns:confirmReservationResponse"/>
<fault message="tns:UnknownPersistenceException" name="UnknownPersistenceException" wsam:Action="http://ws.session.ejb/CaRMSWebService/confirmReservation/Fault/UnknownPersistenceException"/>
</operation>
<operation name="searchByCarCategory">
<input wsam:Action="http://ws.session.ejb/CaRMSWebService/searchByCarCategoryRequest" message="tns:searchByCarCategory"/>
<output wsam:Action="http://ws.session.ejb/CaRMSWebService/searchByCarCategoryResponse" message="tns:searchByCarCategoryResponse"/>
<fault message="tns:CarCategoryNotFoundException" name="CarCategoryNotFoundException" wsam:Action="http://ws.session.ejb/CaRMSWebService/searchByCarCategory/Fault/CarCategoryNotFoundException"/>
<fault message="tns:OutletNotFoundException" name="OutletNotFoundException" wsam:Action="http://ws.session.ejb/CaRMSWebService/searchByCarCategory/Fault/OutletNotFoundException"/>
<fault message="tns:NoRateFoundException" name="NoRateFoundException" wsam:Action="http://ws.session.ejb/CaRMSWebService/searchByCarCategory/Fault/NoRateFoundException"/>
<fault message="tns:InsufficientInventoryException" name="InsufficientInventoryException" wsam:Action="http://ws.session.ejb/CaRMSWebService/searchByCarCategory/Fault/InsufficientInventoryException"/>
<fault message="tns:OutletClosedException" name="OutletClosedException" wsam:Action="http://ws.session.ejb/CaRMSWebService/searchByCarCategory/Fault/OutletClosedException"/>
</operation>
<operation name="searchByCarModel">
<input wsam:Action="http://ws.session.ejb/CaRMSWebService/searchByCarModelRequest" message="tns:searchByCarModel"/>
<output wsam:Action="http://ws.session.ejb/CaRMSWebService/searchByCarModelResponse" message="tns:searchByCarModelResponse"/>
<fault message="tns:CarCategoryNotFoundException" name="CarCategoryNotFoundException" wsam:Action="http://ws.session.ejb/CaRMSWebService/searchByCarModel/Fault/CarCategoryNotFoundException"/>
<fault message="tns:CarModelNotFoundException" name="CarModelNotFoundException" wsam:Action="http://ws.session.ejb/CaRMSWebService/searchByCarModel/Fault/CarModelNotFoundException"/>
<fault message="tns:OutletNotFoundException" name="OutletNotFoundException" wsam:Action="http://ws.session.ejb/CaRMSWebService/searchByCarModel/Fault/OutletNotFoundException"/>
<fault message="tns:NoRateFoundException" name="NoRateFoundException" wsam:Action="http://ws.session.ejb/CaRMSWebService/searchByCarModel/Fault/NoRateFoundException"/>
<fault message="tns:InsufficientInventoryException" name="InsufficientInventoryException" wsam:Action="http://ws.session.ejb/CaRMSWebService/searchByCarModel/Fault/InsufficientInventoryException"/>
<fault message="tns:OutletClosedException" name="OutletClosedException" wsam:Action="http://ws.session.ejb/CaRMSWebService/searchByCarModel/Fault/OutletClosedException"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws.session.ejb/CaRMSWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws.session.ejb/CaRMSWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="viewReservationDetails">
<input wsam:Action="http://ws.session.ejb/CaRMSWebService/viewReservationDetailsRequest" message="tns:viewReservationDetails"/>
<output wsam:Action="http://ws.session.ejb/CaRMSWebService/viewReservationDetailsResponse" message="tns:viewReservationDetailsResponse"/>
<fault message="tns:RentalRecordNotFoundException" name="RentalRecordNotFoundException" wsam:Action="http://ws.session.ejb/CaRMSWebService/viewReservationDetails/Fault/RentalRecordNotFoundException"/>
</operation>
</portType>
<binding name="CaRMSWebServicePortBinding" type="tns:CaRMSWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialsException">
<soap:fault name="InvalidLoginCredentialsException" use="literal"/>
</fault>
</operation>
<operation name="retrieveCarModelsByCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveAllPartnerReservations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PartnerNotFoundException">
<soap:fault name="PartnerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAllCarCategories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveAllOutlets">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CancellationErrorException">
<soap:fault name="CancellationErrorException" use="literal"/>
</fault>
</operation>
<operation name="confirmReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnknownPersistenceException">
<soap:fault name="UnknownPersistenceException" use="literal"/>
</fault>
</operation>
<operation name="searchByCarCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarCategoryNotFoundException">
<soap:fault name="CarCategoryNotFoundException" use="literal"/>
</fault>
<fault name="OutletNotFoundException">
<soap:fault name="OutletNotFoundException" use="literal"/>
</fault>
<fault name="NoRateFoundException">
<soap:fault name="NoRateFoundException" use="literal"/>
</fault>
<fault name="InsufficientInventoryException">
<soap:fault name="InsufficientInventoryException" use="literal"/>
</fault>
<fault name="OutletClosedException">
<soap:fault name="OutletClosedException" use="literal"/>
</fault>
</operation>
<operation name="searchByCarModel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarCategoryNotFoundException">
<soap:fault name="CarCategoryNotFoundException" use="literal"/>
</fault>
<fault name="CarModelNotFoundException">
<soap:fault name="CarModelNotFoundException" use="literal"/>
</fault>
<fault name="OutletNotFoundException">
<soap:fault name="OutletNotFoundException" use="literal"/>
</fault>
<fault name="NoRateFoundException">
<soap:fault name="NoRateFoundException" use="literal"/>
</fault>
<fault name="InsufficientInventoryException">
<soap:fault name="InsufficientInventoryException" use="literal"/>
</fault>
<fault name="OutletClosedException">
<soap:fault name="OutletClosedException" use="literal"/>
</fault>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewReservationDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RentalRecordNotFoundException">
<soap:fault name="RentalRecordNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="CaRMSWebService">
<port name="CaRMSWebServicePort" binding="tns:CaRMSWebServicePortBinding">
<soap:address location="http://localhost:8080/CaRMSWebService/CaRMSWebService"/>
</port>
</service>
</definitions>